@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu Mono";
  src:
    url("/fonts/UbuntuMonoNerdFont-Regular.woff2") format("woff2"),
    url("/fonts/UbuntuMonoNerdFont-Regular.woff") format("woff"),
    url("/fonts/UbuntuMonoNerdFont-Regular.ttf") format("truetype");
}

html {
  overflow-y: auto;
  color-scheme: light;
  scroll-padding-top: 100px;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-neutral-100 dark:bg-neutral-800;
  @apply text-black/75 dark:text-white/75;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-6;
  @apply bg-neutral-100/75 dark:bg-neutral-900/75;
  @apply saturate-200 backdrop-blur-sm;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-6 text-sm;
}

article {
  @apply prose prose-neutral max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-[3px];
    @apply decoration-yellow-500;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-2;
  }
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

.section-anchor {
  @apply scroll-mt-8;
}

.section-anchor-link {
  /* yellow-500 = hsl(45, 93%, 47%) */
  @apply absolute ml-[-1.5rem] items-center justify-center
         font-bold text-[color:hsl(45,25%,55%)] decoration-transparent
         opacity-25 transition-all hover:text-yellow-500 hover:opacity-100 hover:dark:text-yellow-500;
}

.section-anchor-link::after {
  content: "#";
}

/** Enable using separate dark-mode and light-mode images. */
html.dark img.image-light {
  display: none;
}

html:not(.dark) img.image-dark {
  display: none;
}

article {
  font-size: var(--article-font-size, 1rem);
  line-height: var(--article-line-height, 1.5rem);
}

.expressive-code pre > code :not(path) {
  font-size: var(--code-font-size, 0.875rem);
  line-height: var(--code-line-height, 1.25rem);
}

.table-of-contents-list li {
  font-size: var(--toc-font-size, 0.875rem);
  line-height: var(--toc-line-height, 1.25rem);
}
