---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Socials from "@components/Socials.astro";
---

<Layout title="About me" description="All about me, Drew" route="about">
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      About me 👨🏻‍💻
    </h1>

    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>Hey, I'm Drew.</p>

            <p>
              I'm currently a Senior Research Software Engineer at
              <Link external href="https://www.hartree.stfc.ac.uk/">
                STFC Hartree Centre
              </Link>, part of the <Link
                external
                href="https://www.ukri.org/councils/stfc/"
              >
                Science and Technology Facilities Council (STFC)
              </Link>
              which is in turn part of <Link
                external
                href="https://www.ukri.org/"
              >
                UK Research and Innovation (UKRI)
              </Link>. I live in Liverpool and work in <Link
                external
                href="https://www.ukri.org/who-we-are/stfc/facilities/daresbury-laboratory/"
              >
                Daresbury Laboratory
              </Link>, near Warrington.
            </p>
          </span>

          <span class="animate">
            <p>
              I'm interesting in all things technical, but I've got a particular
              interest in things like databases, programming languages, best
              practices, cloud infrastructure and game development.
            </p>

            <p>
              I like using and writing about languages like Go, Python,
              TypeScript and Rust, but I'll use whatever tool is best for the
              task at hand.
            </p>
          </span>
        </article>

        <section>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">Socials</h2>
          </div>

          <article>
            <span class="animate">
              <p>
                <Socials />
              </p>
            </span>
          </article>
        </section>

        <section>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">Support me</h2>
          </div>

          <article>
            <span class="animate">
              <p>
                If you liked something I wrote or made, feel free to support me
                on Ko-fi 🙂
              </p>

              <div class="mb-8 mt-6 text-center">
                <a
                  role="button"
                  href="https://ko-fi.com/drewsilcock/"
                  class="w-[100%] rounded-[100px] border-r-8 border-[#ff5f5f] bg-[#ff5f5f] p-4 text-lg font-bold text-white no-underline"
                  target="_blank"
                >
                  <img
                    src="/media/kofi-cup.png"
                    alt="Ko-fi"
                    class="mr-1 inline h-5 align-sub"
                  />
                  Support me on Ko-fi
                </a>
              </div>
            </span>
          </article>
        </section>

        <section>
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Public keys
            </h2>
          </div>

          <article>
            <span class="animate">
              <h4 class="font-normal italic">GPG</h4>

              <p>
                <pre
                  class="bg-neutral-50 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-50"><code>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFvukQMBEADYf+a7JR1Szd0Ym0GPfNoaPlhn6e7o7LcIq6uk6PtIcNxwK+xr
lhfXfQqW/MqAaHYkcTix8sg07eIzcz0QMdpKPX+Yh+07MKnlQgLJUyRyZvGSkg7+
GMdauFBEN88RA7QwCKeQ8m3n0dCUrEKWoFJnE07ZjmBd1lNvVr51RR4sDIpnJ4kh
2UOsKY3n0TQdMVlrU1jfKMeyIvQPnoDLxo376epAvjHv4pbwskszLSbsN+NBGb0v
LobsAxHUupVSD+YCDbTAdB46dJ8vd25Cs4KKyr1lgC6NAFRbGVdx3N9/BXy7qnem
MLCCPTGIWanrVt7rm+sW+3fkvX9pv/8qpYgmmYhc2d6oUSP7ko8LLadWCUX/H433
FHPd817djGtiuP+eBbrEpckEWxzVdHzoWwMQPyW7mSpt/sohqMjSvKfqrpRa1/l+
laDnHhNP340oB1cgwVImF1gk9LgwGdIejunymhON7T542nh1KTULtJ0/Y+0TBC+d
1wG1W0gPFz/LXxa3HYrFfrI+ro2warfP6K58pYKVfuOOyQTDMYGqFNFZwikmpCRM
iHhe2ZpibB3KcdRNb+jQ+V+djwTHBv+EltdLA8yXy0gH6C8RtWw/Tx3KRh/4YegJ
AvBqC6l650TmbhTKXiyaMTupEQDRn07AhkMByW1dlGPHzsI3zoqaxmizuwARAQAB
tFVEcmV3IFNpbGNvY2sgKFJlc2VhcmNoIFNvZnR3YXJlIEVuZ2luZWVyIGF0IEhh
cnRyZWUgQ2VudHJlKSA8ZHJldy5zaWxjb2NrQHN0ZmMuYWMudWs+iQJOBBMBCAA4
FiEEaZwozZ5d++BpkqZmtEW8+mMmNyAFAlvukQMCGwMFCwkIBwIGFQoJCAsCBBYC
AwECHgECF4AACgkQtEW8+mMmNyDYww/+OumoUJ7SoOe/5xd/6OZQpNtorkeOD5Tt
fv/I00E4EOITNM/yUnycFVmXbaaJo0A2sQMe8qPnTSXPEM5J37CDkHcZn9yETfO/
jI4HED2c6MAsxL58Gq1vhXuY5oUxuqIFvk8fbWoiBRBVSVEewdx+c+yw8I4rEWLg
JxNOXZKugJlA8IJaSTrj7yhaVZvaxV8GpRzok+UOsWFpvhB+9WDqNFpTXYIp79ny
TRlVX8w4/1qImB4SPrP/Qf9BztmYVdNTCnv4gUlMA9rUSFGgSAtVbL66BY+H97W6
vI3GlayyjmyDe+64rruCWBhGln0yYS1qIjlr8obpIKHfzpiJRYOzZ+4UbWmaudr4
CRiMMhHMy9TaNejd/h+vg2UfZ26u1TV6i7aGTxMV8sMfHaKVy2LJWRHSOMz0h/ob
6e4Bz0XmHs7uPqhUTmn0M0xj3MiKfoZkbdD65VFK21xCwBnAruSs/bCJXUoQuISk
NEGZ55eGYNDY0NXA7gympzco2oTtW3WT4E4SpP8PPHFrFGt9mCSpy1dLNGaM8cfe
pTEfE92Ujqs/I1vkL65txY5fLkr/blcnLTgbW4HX7LaVEYb4/17TMZgoluZVFxhR
VYpPl3tugbYlx0+ZCsuERDPIAt6l7zZI70V9LbLPIGI07iOIsiWdJowQkUgkfSbA
M4ImDQeTEgq5Ag0EW+6RAwEQAKh18QXdrti6NIIV4EHUqQfT/rGzce2IL3a/ZhkW
3Btvcji+47CUTpl/guvRxn9Eb1RZ0USQrO55co9Fkr2AIAFTtDs97uRHpypVcYOg
Jcvse/wM8dzHzHi+X16Cp+aw08DL2R85o3gnAvIbMgQmAJlrScAldtzoC7MkcMZc
Kb6BvCbq9zlpismQeoz/W5DyTH00gRC6bdiCU5X68q8gfrsoH/jLFiWxvDgVURln
uBNWA5GVYTNTBfQMqJulNWxEi1e0sibKldgn63o+wUD+cykruDZYOM0m3hA9wyRF
7tDz2uxHDLKMChgbCjEiFvv14PqoxHx3qJ0AdBB7rTGq6ktq4CfR7cUW9nFisiWJ
/TGG0Cdf0SFxFI7l3IbIBZ0XvuUXJHQqAub0SHXp4rnC/vFgM/Ka6vjQA+9FWq1Y
qzwfJU+y4ZgElKXP4NDlMlYWlIfDPy/vuOEcUEAWkmeZtZ+pm7Bp3icV6fg1T+8o
FLj+KDr/2X+0Z2f5NMzv1/O+FQBUWDKWU32JXFs97cNk/RzbaCBZ5BFXupMGbP0p
vJxykP0YJbZwiNuv8NteXgDUihfEzE3gkNt0Tb/mAR65CRFrSe+qhwKko/MJUYAK
AvJ9LGgTXMOaeD7Ych0grsv/jWheDXK/Sg8AtY/Yozbqec0ZtYDVHcEvP16DZ2NV
Cz31ABEBAAGJAjYEGAEIACAWIQRpnCjNnl374GmSpma0Rbz6YyY3IAUCW+6RAwIb
DAAKCRC0Rbz6YyY3ICVJEACt6Ke2utbf5BPg8MkTnGC4vVS7M8L5XDwl8sElNPgr
9ylJRfDbGw7l+n07ifQPMJL/uK9JHwEpVrNAbej+vmZKDY0Cw68OQtFMTEkoeoqH
CJcaQmNedahpQ12nQ1FcP6LdLLXgkv2tYiIE60y/Ota17LMsDRW2CS9Z1GnO8Ry0
4EYWLQizJ/gtm/4NC1uQdjlc15x6DQuC+EQDCOzd84JMIw+SDQSOGwCFhu7GPL/9
x8uh6KDbMhJgYUotAETiAuTRaZEMujhxbOJSw0N9Gi09yNRUG4PJe1ZXanmpdlRl
9aKlo0MOar+J4bfLbwofLTkhPCgzafkeDo/qFEWkXHEcgL6vXhLySIR3GpPD8TWt
XqZFjgydTw/AnlgyayERtZuBfmFEOKx9eYa2UEwD4tWTcUuCWnYiL3J77ykgo08n
ZxD/TVubvFGuUpd+sJwPq76rtfFoR8lotHXXzw7GE2zsVaBXGrKYuL7iDE9woE5c
5uNhERf5CawiLhn/Ol+LYLwVTwQicM3pxZecsvXp0dxDshL09hdInXbzA31WMk+v
2gLScemclpU8hsB0+pNJFiyPEL1zP5vqvAHsIhJTia8AgbuA5VozHDY+fts431vA
37T5K24h3G7F7F8S/WLvV3roNYAfFZdtXVq84NvKsbnUY9tP7t3TixdNh8HR6V6K
BA==
=AY97
-----END PGP PUBLIC KEY BLOCK-----</code></pre>
              </p>
            </span>

            <h4 class="font-normal italic">SSH</h4>

            <span class="animate">
              <p>
                <pre
                  class="bg-neutral-50 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-50"><code>ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFduo05erKfMKFmHa3ioLVMEiiFRq4ZYNGe11PTarv52 github.com/drewsilcock</code></pre>
              </p>
            </span>
          </article>
        </section>
      </section>
    </div>
  </Container></Layout
>
