---
interface Props {
  type?: "tip" | "caution" | "danger" | "info";
}

const { type = "info" } = Astro.props as Props;

const modifier: Record<NonNullable<Props["type"]>, string> = {
  tip: "callout-tip",
  info: "callout-tip",
  caution: "",
  danger: "callout-danger",
};

const label: Record<NonNullable<Props["type"]>, string> = {
  tip: "Tip",
  info: "Info",
  caution: "Caution",
  danger: "Danger",
};
---

<div class:list={["callout", modifier[type]]}>
  <div class="clabel">{label[type]}</div>
  <slot />
</div>
