---
import { Icon } from "astro-icon/components";

interface Props {
  type?: "tip" | "caution" | "danger" | "info";
}

const { type = "info" } = Astro.props as Props;

const icon = (() => {
  switch (type) {
    case "tip":
      return "bulb";
    case "caution":
      return "alert-triangle";
    case "danger":
      return "flame";
    case "info":
      return "info-square";
  }
})();
---

<div
  class:list={[
    "aside my-3 rounded-md border-l-4 px-4 py-3 prose-p:my-0",
    {
      "border-green-400 bg-green-400/10 text-green-950 prose-code:bg-green-400/20 dark:border-green-500 dark:bg-green-950/30 dark:text-green-200 dark:prose-code:bg-green-900/40":
        type === "tip",
    },
    {
      "border-yellow-400 bg-yellow-400/10 text-yellow-950 prose-code:bg-yellow-400/20 dark:border-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-200 dark:prose-code:bg-yellow-900/40":
        type === "caution",
    },
    {
      "border-red-400 bg-red-400/10 text-red-950 prose-code:bg-red-400/20 dark:border-red-500 dark:bg-red-950/30 dark:text-red-200 dark:prose-code:bg-red-900/40":
        type === "danger",
    },
    {
      "border-sky-400 bg-sky-400/10 text-sky-950 prose-code:bg-sky-400/20 dark:border-sky-500 dark:bg-sky-950/30 dark:text-sky-200 dark:prose-code:bg-sky-900/40":
        type === "info",
    },
  ]}
>
  <div class="flex items-center gap-2 pb-2">
    <Icon name={icon} class="h-7 w-7" aria-hidden="true" />
    <p class="text-sm font-bold">{type.toUpperCase()}</p>
  </div>
  <slot />
</div>
