---
import { SITE } from "@consts";

const year = new Date().getFullYear();
---

<footer class="footer">
  <span class="copy">© {year} {SITE.TITLE}</span>
  <span class="spacer"></span>
  <div class="footer-links">
    <a href="https://github.com/drewsilcock" target="_blank" rel="noopener">
      GitHub
    </a>
    <a href="https://twitter.com/drewlhsilcock" target="_blank" rel="noopener">
      X
    </a>
    <a
      href="https://www.linkedin.com/in/drewsilcock"
      target="_blank"
      rel="noopener"
    >
      LinkedIn
    </a>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
