---
import { GISCUS } from "@consts";
---

<div class="giscus"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo={GISCUS.REPO}
  data-repo-id={GISCUS.REPO_ID}
  data-category={GISCUS.CATEGORY}
  data-category-id={GISCUS.CATEGORY_ID}
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
