---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  className?: string;
  external?: boolean;
  hideExternalIcon?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external = false,
  hideExternalIcon = false,
  underline = true,
  group = false,
  className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block text-current hover:text-black focus-visible:text-black dark:hover:text-white dark:focus-visible:text-white",
    underline &&
      "underline decoration-yellow-500 underline-offset-[3px] decoration-1 hover:decoration-2",
    group && "group",
    Boolean(className) && className,
  )}
  {...rest}
>
  <slot />{
    external && hideExternalIcon === false && (
      <svg
        class="ml-1 inline h-4 w-4 align-text-top"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
        />
      </svg>
    )
  }
</a>
