---
import type { Heading } from "./TableOfContents.astro";

const { heading } = Astro.props;
---

<li>
  <a href={"#" + heading.slug}>{heading.text}</a>
  {
    heading.subheadings.length > 0 && (
      <ol>
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ol>
    )
  }
</li>
