---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  route: string;
};

const { title, description, route } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      imageUrl={`/open-graph/${route}.png`}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PageFind />
  </body>
</html>
